@DRAWER_BUTTON_SIZE: 60px;
@DRAWER_WIDTH: 240px;

.dx-drawer {
    width: @DRAWER_WIDTH;
    height: 100%;

    input[type="checkbox"] {
        display: none;
    }

    input[type="checkbox"]:checked ~ .dx-drawer-wrapper {
        transform: translate3d(0, 0, 0);
        // margin-left: 0; 
    }

    input[type="checkbox"]:checked ~ .dx-drawer-wrapper .dx-drawer-title {
        margin-left: @DRAWER_BUTTON_SIZE + 10px; 
        opacity: 1;
    }

    input[type="checkbox"]:checked ~ .dx-drawer-wrapper .dx-drawer-content {
        visibility: visible;
    }


    input[type="checkbox"]:checked ~ .dx-drawer-shader {
        margin-left: @DRAWER_WIDTH + 8px;
        visibility: visible;
        pointer-events: auto;
        opacity: 0.5;
        background: #111;
        z-index: 1;
    }
}

.dx-drawer-wrapper {
    width: @DRAWER_WIDTH;
    overflow: hidden;
    top: 0;
    left: 0;
    transform: translate3d(-100%, 0, 0);
    // margin-left: -@DRAWER_WIDTH; 
    .transition(~"transform .5s linear");
}

.dx-drawer-button-wrapper {
    width: @DRAWER_WIDTH;
}
.dx-drawer-title {
    font-weight: 700;
    padding-top: 18px;
    height: @DRAWER_BUTTON_SIZE;
    opacity: 0;
    .transition(~"opacity .5s linear .2s");
    margin-left: @DRAWER_BUTTON_SIZE;
}

.dx-drawer-content {
    visibility: hidden;
    top: @DRAWER_BUTTON_SIZE + 10px;
    width: @DRAWER_WIDTH;
    height: 100%;
    z-index: 2;
    left: 0;
}

.dx-drawer-button {
    padding-top: 18px;
    display: block;
    font-weight: 700;
    width: @DRAWER_BUTTON_SIZE;
    height: @DRAWER_BUTTON_SIZE;
    color: #fff;
    text-align: center;
    position: fixed;
    z-index: 2;
}

.dx-drawer-shader {
    visibility: hidden;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;

    .transition(~"background-color .5s linear .2s");
}