
.dx-drawer-button-wrapper {
    background-color: @DRAWER_BUTTON_BACKGROUND_COLOR;
    color: @DRAWER_BUTTON_COLOR;
    font-size: 18px;
}

.dx-drawer-button .dx-icon{
    font-size: 18px;
}
.dx-drawer-wrapper {
    input[type="checkbox"]:checked ~ .dx-drawer-shader {
        background: @DRAWER_SHADER_COLOR;
        opacity: 0.5;
    }
}

